/* Nur: padding, margin, float, box-sizing: content-box, calc() */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 1.5em;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
}

/* Grundlayout mit Float */
main {
  float: left;
  width: calc(70% - 1em);
  margin-right: 1em;
  border: solid 1px gray;
  border-radius: 0.5em;
}

aside {
  float: left;
  width: 30%;
  padding: 1em;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  background-color: #fff;
}

/* Karten nebeneinander */
.karten {
  margin: 0;
  padding: 0;
}

.karte {
  float: left;
  width: calc(33.333%);
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #fff;
  border-radius: 0.5em;
}

/* Bild- und Textgestaltung */
figure {
  margin: 0 0 0.75em 0;
}

figcaption {
  margin-top: 0.5em;
  font-size: 0.9em;
  color: #555;
}

img {
  /* height: auto; */
  border-radius: 0.25em;
}
