* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

body {
    margin: 1.5em;
    background-color: #eee;
    font-family: Helvetica,Arial, sans-serif;
}

header {
    padding-top: 4em;
    padding-bottom: 4em;
    padding: 1em;
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
    margin-bottom: 1em;
}

.main {
    padding: 1em;
    float: left;
    width: 70%;
    background-color: #fff;
    border-radius: .5em;
}

.sidebar {
    float: left;
    width: calc(30% - 1em);
    margin-left: 1em;
    padding: 1.5em;
    background-color: #fff;
    border-radius: .5em;
}